@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import "the-new-css-reset/css/reset.css";

@import './vars.css';

body {
    background-color: #fff;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-family: 'Open Sans', sans-serif;
}